.navbar-default {
    background-color: #373a3c;
    border-color: #e7e7e7;
}
.topsection
 {
    background: #eceeef none repeat scroll 0 0;
    border-radius: 5px;
    margin: 5em 0 2em;
    padding: 35px 25px;
}
.head
{
    margin: auto;
    width: 100%;
    height : 57px;
}
.head a
{
  background: white none repeat scroll 0 0;
  color: #337ab7;
  float: right;
  margin: auto;
  padding: 13px;
  text-decoration: none;
}

.sub
{
  background: white none repeat scroll 0 0;
  color: #337ab7;
  float: right;
  margin: auto;
  padding: 13px;
  text-decoration: none;

}
.b1
{
  background-color: #4E2C73 ;
}
